.item{
    background: #004fff;
    color: white;
    font-size: 25px;
    width: 700px;
    text-align: center;
    border-radius: 6px;
    margin: 30px;
    padding: 30px;
    transition: 0.5s;
}
.static{
    position: static;
    left: 60px;
}
.relative{
    position: relative;
    left: 60px;
}
.absolute{
    position: absolute;
    left: 60px;
}
.fixed{
    position: fixed;
    left: 60px;
}
.item-wrap{
    position: relative;
    background: #eee;
    width: 600px;
    height: 1800px;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}