.card{
    display: inline-block;
    margin: 30px;
    padding: 20px;
    width: 280px;
    color: #222;
    font-size: 24px;
    text-align: left;
    border-radius: 8px;
    background: #eee;
    transition: 0.3s;
}
.card > img{
    width: 100%;
    border-radius: 6px;
}
.card h1{
    font-size: 29px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}
.card-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user-wrap img{

}